@charset="UTF-8";

* {margin: 0;}
a {text-decoration: none; color: #fff;}
.header {
	width: 100%;
height: 60px;
-webkit-box-shadow: 0 0 15px  #aaa;
box-shadow: 0 0 15px  #aaa;
}
.header a {
	height: 60px;
	width: 140px;
	margin-left: 100px;
	background:  url(../images/首页images/login.png);
	background-repeat: no-repeat;
	background-position: 0 10px;
	display: block;
	text-indent: -9999px;
}
.main {
	width: 300px;
	margin: 100px auto;
	overflow: hidden;
}
.sidebar_a {
	float: left;
}
.sidebar_b {
	float: right;
}
i {
 	color: #90B71B
}

.return a {
	width: 120px;
	height: 40px;
	border: 1px solid red;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  margin-left: 40%;
  padding:5px 40px;
  background: #f40;

}